body {
    font-size: 18px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    background: url('../images/upfeathers.png')
}

.box {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    clear: both;
}

.headline {
    width: 100%;
    background: #ffffff;
    color: white;
    border-bottom: 2px solid #cccccc;
    margin: 0 0 30px;
    z-index: 99;
    position: fixed;
    overflow: auto;
}

.myName { 
    background: #4aaaa5;
    color: white;
    font-size: 40px;
    font-weight: 800px;
    padding: 27.5px;
    font-family: 'Georgia', Times New Roman, Times, serif;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: gray;
    border-right: 2px solid gray;
    text-decoration: none;
    padding-right: 15px;
    margin-right: 15px;
    line-height: 18px;
    display: inline-block;
}

nav a:last-child {
    border-right: 0;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    font-size: 30px;
    line-height: 50px;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 20px;
}

.container {
    padding-top: 130px;
    margin-left: 80px;
    padding-left: 30px;
    /* width:870px; */
    /* align-content: center; */
}

.content {
    width: 900px;
    height: 600px;
    max-width: 100%;
    background: #ffffff;
    padding: 30px;
    margin: 0 0 0 40px;
    border: 2px solid #dddddd;
    /* float: left; */
}

.mugShot {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    /* padding-right: 15px; */
}

footer {
    background: #666666;
    color: white;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
}

/* Portfolio page */
.major {
    width: 350px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.major:nth-child(even) {
    margin-right: 40px;
} 

.major img {
    width: 400px;
    border: 0 none;
    opacity: .8;
}

.major h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 20px;
    margin-bottom: 0; 
    font-weight: 300;
}

/* Contact page */
#personalInfo ul {
    margin-bottom: 20px;
}

#personalInfo li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    /* height: 200px; */
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    border: 1px solid #dddddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px;
}
input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

/* Media queries */

@media only screen and (max-width: 980px) {

    .container {
        max-width: 768px;
        padding: 0 20px;
    }

    section.container {
        padding-top: 130px;
    }

    .content {
        max-width: 420px;
    }
    
    .major {
        width: 100%;
    }

    .mugShot {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {

 .content {
    width: 100%;
  }

  section {
    overflow: auto;
  }

  .major {
    width: 50%;
    margin-bottom: 10px;
  }

  .major:nth-child(even) {
    margin-right: 0;
  }

  .major:nth-child(odd) {
    float: right;
  }

  .mugShot {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {

}